.container-img-modelo{
    position: relative;
    top: 30px;
    right:0px;
    width: 800px;
    height: 500px;
}
.img-overflow{
    position: relative;
    overflow: hidden;
    height: 500px;
}
.img-modelo{
    position: absolute;
    z-index: 20;
    left: 210px;
    height: 500px;
    z-index: 11;
    top: 0px;
    pointer-events: none;
    user-select: none;
}
.img-david{
    position: absolute;
    height: 500px;
    left: -60px;
    z-index:40;
    pointer-events: none;
    user-select: none;

}
.triangulo-1{
    position: absolute;
    height: 630px;
    background-color: hsl(86, 92%, 54%);
    width: 600px;
    right: 0;
    top: -130px;
    clip-path: polygon(79% 68%, 100% 0, 100% 100%, 69% 100%);
    z-index: 10;
}
.triangulo-2{
    position: absolute;
    height: 630px;
    background-color: hsl(86, 92%, 47%);
    width: 600px;
    right: 0;
    top: -130px;
    clip-path: polygon(64% 54%, 100% 0, 100% 100%, 36% 100%);
    z-index: 9;
}
.triangulo-3{
    position: absolute;
    height: 630px;
    background-color: hsl(86, 92%, 45%);
    width: 600px;
    right: 0;
    top: -130px;
    clip-path: polygon(87% 0, 100% 0, 100% 100%, 0% 100%);
   z-index: 8;
}

@media (max-width:1024px){

    .container-img-modelo{
        overflow: hidden;
        width: 100%;
    }
   .img-david{
    left: 0;
    width: 70%;
   }
   
   .img-modelo{
    width: 70%;
   }
   .triangulo-1{
    width: 100%;
    height: 100%;
    top: 0;
   }
   .triangulo-2{
    width: 100%;
    height: 100%;
    top: 0;
   }
   .triangulo-3{
    top: 0;
    width: 100%;
    height: 100%;
   }
}

@media (max-width:620px){
    
    .container-img-modelo{
        width: 100%;
        height: 100%;
    }
    .img-david{
        left: -60px;
        width: 100%;
        
    }
    .img-modelo{
        left: 130px;
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width:540px){
    .img-david{
       left: 10px;
       object-fit: cover;
    }
    .img-modelo{
        left: 80px;
        object-fit: cover;
        display: none;
    }
}